/*====================
    VARIABLES
====================*/
$color-primary: #19a2ae;
$color-secondary: #2d3248;

$color-gray-blue: #6a6f81;
$color-gray: #969696;

$color-white: #fff;

$font-lg: 1.8rem;
$font-md: 1.4rem;
$font-sm: 1.0rem;

@mixin flex-center() {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*====================
    END VARIABLES
====================*/

/*====================
    STYLES
====================*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: $font-lg;
  color: $color-gray;
  overflow: hidden;
  box-sizing: border-box;

  background-color: $color-primary;
  background-image: url(../images/bg-pattern-top.svg),
                    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left -15vw top -25vh, right -15vw bottom -15vh;
  display: flex;
  align-items: center;
  justify-content: center;

  // Temporary
  height: 100vh;

  &::before {
    content: '';
    background-image: url(../design/desktop-design.jpg);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
  }
}

p {
  padding: 0.3rem 0;
}

.heading--1 {
  font-weight: 700;
  color: $color-secondary;

  span {
    font-weight: 300;
    color: $color-gray;
  }
}

.card {
  height: auto;
  width: 35rem;
  border-radius: 15px;
  overflow: hidden;
  background-color: $color-white;
  box-shadow: 0 0 20rem $color-gray-blue;

  &__header {
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 14rem;
  }

  &__details {
    text-align: center;
    position: relative;

    & > *:not(:first-child) {
      padding: 2rem 0;
    }

    &--img {
      border: .6rem solid $color-white;
      border-radius: 10rem;
      position: absolute;
      top: -20%;
    }

    &--user {
      margin-top: 6rem;
    }

    &--stats {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      border-top: 1px solid $color-gray;
    }

    @include flex-center();
  }
}

.user__location {
  font-size: $font-md;
  margin-top: .5rem;
}

.stats {
  &__text {
    &--label {
      font-size: $font-sm;
      letter-spacing: .2rem;
    }
  }
}

/* Media Query */
@media only screen and (max-width: 1440px) {
  body {
    background-position: right 52vw top -70vh, right -16vw top 52vh;
  }
}

@media only screen and (max-width: 375px) {
  body {
    background-position: right 40vw top -85vh, left 40vw top 50vh;
  }

  .card {
    width: 90%;
  }
}
/*====================
    END STYLES
====================*/